.header {
    height: 50px;
    padding: 0 20px;
    color: #fff;
    background: var(--c-main);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .options {
        display: flex;

        & > div {
            margin-right: 20px;
            display: flex;
            align-items: center;
        }

        & > div:not(.connect) {
            cursor: pointer;
        }

        .icon-book {
            width: 25px;
            height: 25px;
            margin-right: 3px;
            background: url(../../assets/icon/book.svg) center / 25px no-repeat;
        }

        .icon-github {
            width: 25px;
            height: 25px;
            margin-right: 3px;
            background: url(../../assets/icon/github.svg) center / 20px no-repeat;
        }

        .status {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border-radius: 50%;
            background: #67c23a;
            display: inline-block;

            &.off {
                background: #ff9800;
            }
        }
    }

}

.body {
    height: calc(100% - 50px);
    display: flex;

    & > div {
        height: 100%;
        padding: 20px;
    }

    .nav-con {
        width: 260px;
    }

    .app-con {
        width: calc(100% - 260px);

        & > div:first-child {
            height: 40px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        & > div:last-child {
            height: calc(100% - 55px);
            position: relative;
        }

        & > div:last-child > div {
            width: 100%;
            height: 100%;
            padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: auto;
        }

        .options-con {
            height: 100%;
            padding: 0 10px;
            border-radius: 4px;
            box-shadow: 0 0 12px rgb(0 0 0 / 12%);
            display: flex;
            align-items: center;
        }

        .icon {
            width: 25px;
            height: 25px;
            margin: 0 3px;
            background: center / 100% no-repeat;
            border-radius: 4px;
            cursor: pointer;
        }

        .icon:hover {
            background-color: var(--c-main-light);
        }

        .bot {
            background-image: url(../../assets/icon/robot.svg);
        }

        .setting {
            background-image: url(../../assets/icon/set.svg);
        }
    }

    .setting-header {
        font-size: 16px;
        display: flex;
        align-items: center;
    }
}

.no-setting {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;

    .setting-card {
        width: 500px;
    }
}

.slide-fade-enter-active {
    transition: all 300ms ease-in-out;
    transition-delay: 400ms;
}

.slide-fade-leave-active {
    transition: all 300ms ease-in-out;
}

.slide-fade-enter-from {
    transform: translateX(-20px);
    opacity: 0;
}

.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
