.v-table {
    .header-area {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .v-table-header {
        font-weight: 100;
        color: var(--c-main);
    }

    .v-bottom {
        margin-top: 10px;
        display: flex;
        align-items: center;

        .v-bottom-icon {
            color: var(--el-text-color-regular);
            cursor: pointer;
        }

        .v-bottom-icon:hover {
            color: var(--c-main);
        }
    }

    .cell {
        width: auto;
        white-space: nowrap !important;
        display: flex;
    }

    .cell > .el-link:not(:last-child) {
        margin-right: 10px;
    }

    .el-pagination__sizes {
        margin-left: 15px;
    }

    .el-pagination__jump {
        margin-left: 0;
    }
}
